.container {
  width: inherit;
}

.name {
  margin: 4px 0;
}

.input {
  line-height: 16px;
  padding: 16px;
  border-radius: 1em;
  border: 1px solid var(--black15);
  width: 100%;
}

.input:focus {
  color: #212529;
  border-color: var(--black15);
}

.textarea {
  min-height: calc(2.25rem + 120px);
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.error {
  margin: 4px 0;
  font-size: 0.8rem;
  color: red;
  min-height: 28px;
}

.fullWidth {
  width: 100%;
}