.chip {
  padding: 12px;
  border-radius: 99em;
  background-color: var(--black10);
  border: none;
  font: inherit;
  cursor: pointer;
}

.purple {
  background-color: purple;
  color: var(--white);
}

.blue {
  background-color: blue;
  color: var(--white);
}

.green {
  background-color: green;
  color: var(--white);
}

.orange {
  background-color: orange;
  color: var(--white);
}

.red {
  background-color: red;
  color: var(--white);
}

.chip:hover {
  cursor: pointer;
  opacity: 80%;
}