.footer {
  background-color: var(--black80);
  color: white;
  bottom: 0;
  width: 100%;
  height: 64px;
  backdrop-filter: blur(5px);

  p {
    margin: 0;
    text-align: center;
    line-height: 64px;

    a {
      color: green;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}