@value black10 from './variables.scss';

.navigation {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid black10;
  height: 72px;
  width: 100%;
  align-items: center;
  padding: 32px 64px;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 2;
}